catboost==1.2.8
lightgbm==4.5.0
xgboost==2.1.4
torch==2.6.0
scikit-learn==1.6.1
pandas==2.2.2
numpy==2.0.2
optuna==4.4.0
matplotlib==3.10.0
seaborn==0.13.2
joblib==1.5.1
huggingface-hub==0.33.2
joblib==1.5.1
kaggle==1.7.4.5
kagglehub==0.3.12
matplotlib==3.10.0
numpy==2.0.2
packaging==24.2
pandas==2.2.2
pillow==11.2.1
protobuf==5.29.5
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp311-cp311-linux_x86_64.whl
tqdm==4.67.1